/* CSS by Talisa Kelly Hong */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End Reset Style Code */

:root {
    --yellow:#F6D64A;
    --teal:#55BCD5;
    --purple:#9B26B0;
    --blue:#499BD2;
    --dark-gray:#222222;
    --light-gray:#EAEAEA;
    --white:#FFFFFF;
    --black:#000000;
}

#skip {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

#skip:focus{
    position:static;
    width:auto;
    height:auto;
}

.sr-only{
    display:none;
}

h1, h2, h3 {
    font-family: 'Molle';
}

h4, p, q, small, nav, button, form {
    font-family: 'Montserrat';
}

h2, h3{
    font-size:40px;
}

header{
    background-image:linear-gradient(var(--teal), var(--white));
    padding-bottom:150px;
}

#plan{
    background-color:var(--yellow);
}

#plan section {
    background-color:var(--teal);
}

#about {
    background-color:var(--blue);
}

/*nav*/ 

nav a{
    text-decoration:none;
    color:var(--black);
    text-transform:uppercase;
    font-weight:500;
    padding: 1rem;
    background-color:var(--white);
    display:block;
    text-align:center;
}

/* menu */

#menu-toggle label{
    background-color:var(--yellow);
}

/* form */

#names input, #nums input, #selects select{
    border-color:var(--purple);
}

#mySubmit{
    background-color:var(--purple);
    color:var(--white);
}

/* footer */

footer{
    background-color:var(--light-gray);
}

/* 320px */

h1{
    font-size:55px;
    margin-left:30px;
    margin-top:20px;
}

h2, #intro p, h3{
    margin-left:30px;
    margin-top:20px;
    margin-right:60px;
}

h3{
    padding-top:30px;
    padding-bottom:20px;
}

#intro p{
    line-height:2rem;
    margin-bottom:10px;
}

#intro img{
    width:100%;
    margin-bottom:10px;
}
    
header p {
    font-size:20px;
    margin-left:30px;
    margin-right:150px;
    line-height:1.5em;
}

nav a {
    background-color:var(--teal);
    border:0.5px solid var(--black);
}

#menu-toggle{
    position:relative;
    top:-200px;
    text-align:right;
}

#menu-toggle label{
    background-color:var(--yellow);
    color:var(--black);
    display:inline-block;
    padding:1rem 100px;
    text-align:center;
    cursor:pointer;
}

#toggle{
    display:none;
}

nav ul{
    overflow:hidden;
    max-height:0;
    transition: max-height .2s ease-out;
}

nav a{
    padding-top:50px;
    padding-bottom:50px;
}

input:checked ~ ul {
    max-height: 500px;
}

input:checked ~ #menu-toggle label{ /*not working*/
    background-color:var(--dark-gray);
    color:var(--white);
    display:block;
    padding:1rem;
    text-align:center;
}

#plan section{
    padding:20px 20px;
    margin-left:30px;
    margin-right:30px;
    margin-bottom:20px;
    border-radius:0.5rem;
    border:3px solid var(--white);
}

h4{
    font-size:25px;
    text-transform:uppercase;
    font-weight:bold;
    text-align:center;
    margin-top:15px;
}

#plan img{
    display:block;
    margin-right:auto;
    margin-left:auto;
    width:50%;
    margin-top:30px;
    margin-bottom:30px;
}
    
#plan{
    padding-bottom:20px;
}

#testimonials section{
    line-height:1.5em;
    margin-right:50px;
    margin-left:100px;
    margin-bottom:15px;
}

#testimonials p, #testimonials p, h4{
    text-align:center;
}

#testimonials img{
    display:block;
    margin-right:auto;
    margin-left:auto;
    width:50%;
}

#testimonials q{
    font-style:italic
}

#about section{
    display:inline-block;
    padding-left:50px;
    text-align:center;
}

#about img{
    width:110px;
}

#about p{
    padding-bottom:30px;
}

#about h4{
    padding-bottom:10px;
}

.form-required{
    font-size:20px;
}

#contact label{
    display:block;
    text-transform:uppercase;
    font-weight:bold;
}

#contact legend{
    text-transform:uppercase;
    font-weight:bold;
}

.radio-label{
    text-transform:none;
    font-weight:lighter;
}

#contact input{
    padding:1rem;
}

#fName, #lName, #email, #phone{
    width:82%;
}

form{
    margin-left:50px;
}

form input{
    margin-bottom:20px;
}

.required{
    color:red;
}

#destination, #travelTime{
    padding:1rem;
    margin-bottom:20px;
    border:2px solid var(--purple);
    width:90%;
}

input[type="radio"]{
    transform:scale(5);
    line-height:5rem;
    margin-bottom:70px;
    accent-color:var(--purple);
}

#nums span{
    margin-left:20px;
    display:inline-block;
}

#prefEmail{
    margin-top:40px;
}

#mySubmit{
    cursor:pointer;
    width:90%;
    text-align:center;
}

footer{
    padding-top:50px;
    padding-bottom:50px;
    text-align:center;
    line-height:3rem;
}

footer a{
    text-decoration:none;
    color:var(--black);
    display:block;
    font-family: 'Montserrat';
}

@media screen and (min-width:750px){
    #logo, header h1{
        display:inline;
    }

    header p{
        margin-right:0;
        padding-right:30px;
        margin-left:260px;
    }

    header img{
        margin-top:60px;
    }

    nav ul{
        overflow:visible;
    }

    nav a{
        padding:1rem;
    }

    nav li{
        display:inline-block;
        padding:10px;
    }

    nav{
        justify-content:center;
    }

    #menu-toggle label{
        display:none;
    }

    #menu-toggle{
        position:static;
        text-align:center;
        margin-top:30px;
    }

    nav a {
        background-color:var(--white);
        border:none;
        font-weight:bold;
    }

    nav a:hover{
        background-color:var(--yellow);
    }

    h1{
        position:absolute;
        top:40px;
    }

    header p {
        position:absolute;
        top:130px;
    }

    #img-grid{
        display:grid;
        grid-template-columns:1fr 1fr;
        grid-gap:1rem;
    }

    #img-grid picture{
        grid-column:1/-1;
    }

    #plan div, #testimonials div{
        display:grid;
        grid-template-columns:1fr 1fr;
        grid-gap:1rem;
    }

    #about div{
        text-align:center;
    }

    #nums label{
        display:inline;
    }

    #email, #phone{
        display:block;
    }

    fieldset{
        display:grid;
        grid-template-columns:1fr 1fr 1fr;
    }

    .radio-input #prefText, .radio-input #prefPhone, .radio-input .radio-control{
        margin-top:40px;
    }

    #mySubmit{
        width:25%;
        position:absolute;
        right:80px;
    }

    #contact{
        margin-bottom:80px;
    }

    #intro{
        margin-right:100px;
        margin-left:100px;
    }
}

@media screen and (min-width:1250px){
    #menu-toggle{
        position:relative;
        top:-200px;
        text-align:right;
    }

    #intro{
        display:grid;
        grid-template-columns:1fr 1fr 1fr;
    }

    #intro h2, #intro p{
        grid-column-start:1;
    }

    #img-grid img{
        height:250px;
    }

    #img-grid{
        grid-column-start:2;
        grid-column-end:-1;
    }

    #plan section{
        width:230px;
        height:200px;
        margin-right:20px;
    }

    #plan div{
        display:grid;
        grid-template-columns:1fr 1fr 1fr 1fr;
        grid-gap:0;
    }

    #plan h4{
        font-size:20px;
    }

    #plan div, #testimonials div{
        display:grid;
        grid-template-columns:1fr 1fr 1fr 1fr;
        grid-gap:0;
    }

    #testimonials img{
        width:130px;
    }

    form{
        display:grid;
        grid-template-columns:1fr 1fr 1fr;
    }

    #names{
        grid-column:1;
    }

    #nums{
        grid-column:2;
        padding-right:25px;
    }

    #selects{
        grid-column:3;
    }

    #mySubmit{
        width:15%;
    }

    footer{
        padding:0;
    }

    footer a{
        display:inline-block;
        padding-left:70px;

    }

    footer p{
        display:inline-block;
        text-align:left;
        padding-right:550px;
    }

}